<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>版权展示</title>
</head>
<#include 'common/header.html'>
<script type="text/javascript">
$(function(){
	$(".certificate").click(function(){
		var certifi = this.value;
		location = "selectDetailBySn?certifi="+certifi;
	});
});
</script>
<script type="text/javascript">
// 当前第几页数据
var currentPage = ${page.currentPage};
// 总页数
var totalPage = ${page.totalPage};
// 首页
function firstPage(){
	if(currentPage == 1){
		alert("已经是第一页数据");
		return false;
	}else{
		location="http://localhost:8080/dcaex/author/queryInformation?pageNum=1";
		return true;
	}
}
// 下一页
function nextPage(){
	if(currentPage == totalPage){
		alert("已经是最后一页数据");
		return false;
	}else{
		location="http://localhost:8080/dcaex/author/queryInformation?pageNum="+ (currentPage+1);
		return true;
	}
}
// 上一页
function previousPage(){
	if(currentPage == 1){
		alert("已经是第一页数据");
		return false;
	}else{
		location="http://localhost:8080/dcaex/author/queryInformation?pageNum="+ (currentPage-1);
		return true;
	}
}
// 尾页
function lastPage(){
	if(currentPage == totalPage){
		alert("已经是最后一页数据");
		return false;
	}else{
		location="http://localhost:8080/dcaex/author/queryInformation?pageNum=${page.totalPage}";
		return true;
	}
}
</script>
<body>
<div>
	<nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px">
	  <div class="navbar-header" style="margin-left:120px;margin-right:50px">
	    <a class="navbar-brand" href="http://localhost:8080/dcaex/author/toSearch">首页</a>
	  </div>
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">版权信息</a></li>
	    </ul>
	  </div>
	</nav>
</div>
	
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	<div>
		<table class="table table-bordered">
			<tr style="background-color: #cec2f6">
				<td style="width:100px">signature</td>
				<td>作者姓名</td>
				<td>国家</td>
				<td>证件类型</td>
				<td>证件号码</td>
				<td>查看详情</td>
			</tr>
			<#list page.dataList as infor>
			<tr>
				<td>${infor.data.signature!}</td>
				<td>${infor.data.author!}</td>
				<td>${infor.data.country!}</td>
				<td>${infor.data.idType!}</td>
				<td>${infor.data.idNumber!}</td>
				<td><button class="certificate" value="${infor.data.certificateInfo.sn}">查询详情</button></td>
			</tr>
			</#list>
			<tr>
				<td colspan="6" style="text-align:right">
					共&nbsp;${page.totalRecord }&nbsp;条记录  &nbsp;&nbsp;&nbsp;
					共&nbsp;${page.totalPage }&nbsp;页 &nbsp;&nbsp;&nbsp;
					当前第&nbsp;${page.currentPage }&nbsp;页  &nbsp;&nbsp;&nbsp;
					<a href="#" onclick="firstPage()">首页</a> &nbsp;&nbsp;&nbsp;
					<a href="#" onclick="nextPage()">下一页</a> &nbsp;&nbsp;&nbsp;  
					<a href="#" onclick="previousPage()">上一页</a> &nbsp;&nbsp;&nbsp; 
					<a href="#" onclick="lastPage()">尾页</a> &nbsp;&nbsp;&nbsp;
				</td>
			</tr>
		</table>
	</div>
  </div>
  <div class="col-md-1"></div>
</div>
</body>
</html>