<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>版权详情</title>
</head>
<#include 'common/header.html'>
<body>
	<div>
		<nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px">
		  <div class="navbar-header" style="margin-left:120px;margin-right:50px">
		    <a class="navbar-brand" href="http://localhost:8080/dcaex/author/toSearch">首页</a>
		  </div>
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">版权详情</a></li>
		    </ul>
		  </div>
		</nav>
	</div>
	
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  	<div>
		<table class="table" border="0">
			<tr>
				<td style="border:0px;width: 50%">signature</td>
				<td style="border:0px;width: 50%">${author.data.signature!}</td>
			</tr>
			<tr>
				<td>作者姓名</td>
				<td>${author.data.author}</td>
			</tr>
			<tr>
				<td>国家</td>
				<td>${author.data.country}</td>
			</tr>
			<tr>
				<td>证件类型</td>
				<td>${author.data.idType}</td>
			</tr>
			<tr>
				<td>证件号码</td>
				<td>${author.data.idNumber}</td>
			</tr>
			<tr>
				<td>作品名称</td>
				<td>${author.data.workInfo.name}</td>
			</tr>
			<tr>
				<td>作品编号</td>
				<td>${author.data.workInfo.id}</td>
			</tr>
			<tr>
				<td>作品分类</td>
				<td>${author.data.workInfo.category}</td>
			</tr>
			<tr>
				<td>证书类型</td>
				<td>${author.data.certificateInfo.type}</td>
			</tr>
			<tr>
				<td>sn</td>
				<td>${author.data.certificateInfo.sn}</td>
			</tr>
		</table>
	</div>
  </div>
  <div class="col-md-2"></div>
</div>
</body>
</html>