<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>版权查询</title>
<#include 'common/header.html'>
</head>
<script type="text/javascript">
	$(function(){
 		$("#button").click(function(){
 			var information = $("#searchValue").val();
 			location = "/dcaex/author/queryFirstInformation?information="+information;
 		});
	});
</script>
<body>
	<div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-6">
	  	<div style="margin-top:240px">
	  		<div class="col-xs-10">
			    <input type="text" class="form-control input-lg" placeholder="请输入版权信息" id="searchValue">
			</div>
			<div>
		  		<button type="button" class="btn btn-primary btn-lg" style="width: 80px" id="button">查询</button>
		  	</div>
	  	</div>
	  </div>
	  <div class="col-md-3"></div>
	</div>
</body>
</html>